.login-form {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 30px;
    margin: 100px auto 0 auto;
    max-width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.flex_block {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
}

.login-form input {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 5px;
    height: 30px;
    border: 1px solid darkgray;
}

.login-form button{
    background-color: #999999;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    padding: 0 10px 0 10px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.login-form h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

.login-form button:hover{
    transition: .3s;
    opacity: .8;
}
